<nav class="navbar navbar-expand-lg navbar-light navbar-custom">

    <div class="col-lg-6 text-lg-start">
        <a class="navbar-brand mx-2" routerLink="/dashboard">Online Dance Studio</a>
    </div>
    <div class="col-lg-3 text-lg-start"></div>
    <div class="col-lg-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/instructors">Instructors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <div class="row mt-4">
      <div class="col-md-12 text-start
      ">
        <!-- <h2>Courses</h2> -->
        <div class="row">
          <div class="col-md-4" *ngFor="let course of courses">
            <div class="card mb-3">
              <img [src]="course.imageUrl" class="card-img-top" alt="{{ course.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <!-- Add more details if needed -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
