

.navbar-custom {
    background-color: #CCCCFF ; /* Pink color */
}

.navbar-brand {
    color: #6C3483; /* Text color */
    font-size: 50px;
    font-family: 'Courier New';
    font-weight: bold; /* Make the text bold */
}

.navbar-custom .nav-link:hover {
    color: blue; /* Text color on hover */
}
.nav-link{
    color: #212F3D; /* Text color */
    font-size: 25px;
}
.contact-details {
    text-align: center;
}
.contact-details {
    text-align: center;
}

.contact-details table {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    border-collapse: collapse; /* Add border-collapse to collapse borders */
}

.contact-details table, .contact-details table th, .contact-details table td {
    border: 1px solid #dee2e6; /* Add border style and color */
}

.contact-details table th, .contact-details table td {
    padding: 10px;
}

.contact-details table td:first-child {
    width: 50px; /* Adjust as needed */
    text-align: center;
}

/* Bootstrap Icons (bi) styling */
.contact-details table i {
    font-size: 1.5em; /* Adjust as needed */
    margin-right: 5px; /* Add spacing between icon and text */
}
.cntct{
    margin-top: 100px;
}
.bg-image {
    background-image: url('../../assets/bgg.jpeg');
    background-size: cover;
    background-position: center;
    padding: 20px; /* Add padding to ensure content is visible */
}


